.clock {
  margin-top: 50px;

  border-radius: 50%;
  position: absolute;
  width: 300px;
  height: 300px;
}

.svgIcon {
  height: 300px;
  width: 300px;
  transform: rotate(15deg);
}
.sector {
  fill: transparent;
  // stroke: #bfbfbf;
}
:hover.sector {
  fill: rgb(25, 118, 210, 0.1);
  transition: fill 0.5s, stroke-width 0.5s;
}
