* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  font-family: Roboto, system-ui, Tahoma, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background: radial-gradient(ellipse at center, #21363b 0%, #333232 70%);
  align-items: center;
  min-height: 100vh;
}
